body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #312a26;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.nav {
  font-family: 'Teko', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F4D650;
  height: 15%;
  letter-spacing: 2px;
}

.nav__inner {
  float: right;
}

.nav__item {
  float: left;
  padding: 15px 25px;
  font-size: 2em;
}

.nav__item > a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.nav__item:hover {
  background-color: #FFFFFF;
}

.nav__item:hover > a {
  color: #F4D650;
  -webkit-text-decoration: underline solid 2px;
          text-decoration: underline solid 2px;
}

.nav__title {
  float: left;
  padding: 18px 0 0 15px;
  font-size: 2em;
}

.nav__title > a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.video-wrap {
  position: relative;
  background-color: #F4D650;
  z-index: -100;
}

.video-title {
  position: absolute;
  z-index: 2;
  font-family: 'Teko', sans-serif;
  left: 72%;
  top: 18%;
  font-size: 6vw;
  color: #F4D650;
  text-shadow: 4px 0 #eeeeee;
}

.description {
  height: 600px;
  background-color: #F4D650;
  text-align: center;
}

.description > h1 {
  font-family: 'Teko', sans-serif;
  margin-top: 0;
  padding-top: 50px;
  font-size: 4vw;
}

.detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 400px;
}

.detail__item {
  grid-row: 1fr 1fr;
}

.detail img {
  display: block;
  margin: auto;
  width: 30vw;
}

.detail p {
  font-size: 2em;
  line-height: 1.5em;
  overflow: scroll;
}

.detail p::-webkit-scrollbar {
  display: none;
}

.detail p span {
  font-weight: bold;
  font-size: 3rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 30px;
  margin: auto 0;
  text-align: start;
}

.act__title {
  padding: 100px 0 0 60px;
  font-size: 2vw;
  font-family: 'Teko', sans-serif;
}

.card {
  width: 100%;
  max-width: 342px;
  margin: 0 auto;
  background-color: #eeeeee;
  border: solid 3px #eeeeee;
}

.card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 3px 8px 1px #C0C0C0;
          box-shadow: 3px 3px 8px 1px #C0C0C0;
}

.card a {
  text-decoration: none;
}

.card__img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.card__title {
  margin-top: 30px;
  color: #312a26;
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Teko', sans-serif;
}

.card__p {
  margin: 30px auto;
  color: #312a26;
  font-size: 1.5em;
  line-height: 1.5;
  width: 80%;
}

.about__title {
  padding: 100px 0 0 60px;
  font-size: 2vw;
  font-family: 'Teko', sans-serif;
}

.about {
  height: 600px;
  position: relative;
  width: 100%;
}

.about__p {
  position: absolute;
  top: 10%;
  left: 2%;
  height: 80%;
  letter-spacing: 2px;
  line-height: 1.5em;
  overflow: scroll;
  font-size: 2em;
  width: 40%;
  overflow: scroll;
  overflow-x: hidden;
}

.about .img1 {
  top: 0;
  right: 1%;
  width: 20%;
  position: absolute;
}

.about .img2 {
  position: absolute;
  top: 3%;
  right: 25%;
}

.about .img3 {
  position: absolute;
  top: 65%;
  right: 30%;
}

.about__inner {
  position: absolute;
  background-color: #F4D650;
  top: 10%;
  width: 100%;
  bottom: 10%;
  z-index: -50;
}

.how__title {
  padding: 100px 0 0 60px;
  font-size: 2vw;
  font-family: 'Teko', sans-serif;
}

.flow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 30px;
  margin: 0 auto;
  text-align: start;
  width: 80%;
}

.flow__item {
  width: 100%;
  max-width: 342px;
  margin: 0 auto;
}

.flow__item .round {
  position: relative;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: #F4D650;
  margin: 0 auto;
}

.flow__item .round__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.flow__item .round__item svg {
  background-color: #FFFFFF;
}

.flow__item__title {
  margin-top: 30px;
  color: #312a26;
  font-size: 2vw;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Teko', sans-serif;
}

.flow__item__p {
  margin: 30px auto;
  color: #312a26;
  font-size: 1.5vw;
  line-height: 1.5;
  width: 80%;
  text-align: center;
}

.flow__arrow {
  margin: auto;
}

.btn {
  display: block;
  text-align: center;
  margin: 70px 0;
}

.btn button {
  height: 7vw;
  width: 25vw;
  font-size: 2vw;
  letter-spacing: .5em;
  border-radius: 15px;
  border: none;
  background-color: #F4D650;
  color: #FFFFFF;
  -webkit-box-shadow: 3px 4px 1px #C0C0C0;
          box-shadow: 3px 4px 1px #C0C0C0;
  font-family: 'Teko', sans-serif;
  outline: none;
}

.btn button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateX(3px) translateY(4px);
          transform: translateX(3px) translateY(4px);
  text-shadow: 4px 0 0 #312a26;
  font-weight: bold;
  background-color: #A9A9A9;
  border: solid 2px #F4D650;
}

footer {
  height: 30%;
  background-color: #eeeeee;
  text-align: center;
  color: #312a26;
}

.mobile-nav {
  display: none;
}

.mobile-arrow {
  display: none;
}

@media screen and (max-width: 600px) {
  .clearfix {
    display: none;
  }
  .container {
    position: relative;
    width: 100vw;
  }
  .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    position: fixed;
    z-index: 10;
  }
  .hamburger > span {
    width: 25px;
    height: 2px;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    background-color: #eeeeee;
  }
  .hamburger > span:last-child {
    margin-bottom: 0;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-nav.open {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .mobile__inner {
    padding: 0;
  }
  .mobile__item {
    list-style: none;
    text-align: center;
    font-family: 'Teko', sans-serif;
    padding: 20px;
  }
  .mobile__item > a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 50px;
    letter-spacing: 1px;
    font-size: 30px;
  }
  .video-wrap {
    width: 100%;
    overflow: hidden;
  }
  .video-wrap > video {
    width: 150%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .video-title {
    top: 40%;
  }
  .video-title > p {
    text-shadow: none;
  }
  .description {
    height: 420px;
  }
  .description > h1 {
    padding-top: 5px;
    margin: 0;
    font-size: 30px;
  }
  .detail {
    display: block;
  }
  .detail__item {
    margin-top: 15px;
  }
  .detail p {
    font-size: 20px;
  }
  .detail p span {
    font-size: 25px;
  }
  .act__title {
    padding-top: 5px;
    margin: 0;
    font-size: 25px;
  }
  .about__title {
    padding-top: 5px;
    font-size: 25px;
  }
  .about__title > h1 {
    margin-bottom: 0;
  }
  .how__title {
    padding-top: 5px;
    margin: 0;
    font-size: 25px;
  }
  .card {
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px 3px 8px 1px #C0C0C0;
            box-shadow: 3px 3px 8px 1px #C0C0C0;
  }
  .card__title {
    margin-top: 5px;
    color: #312a26;
    font-size: 25px;
    margin-bottom: 5px;
  }
  .card__p {
    color: #312a26;
    font-size: 20px;
    line-height: 1.5;
    width: 80%;
  }
  .about {
    position: relative;
    height: 300px;
    margin: 0;
    overflow: hidden;
  }
  .about__p {
    font-size: 15px;
    width: 90%;
    height: 90%;
  }
  .about .img1 {
    display: none;
  }
  .about .img2 {
    position: absolute;
    top: 220px;
    left: 65%;
  }
  .about .img3 {
    display: none;
  }
  .flow {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto 0;
    width: 100%;
  }
  .flow__item {
    width: 100%;
    max-width: 342px;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
  .flow__item .round {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #F4D650;
    margin: 0 auto;
  }
  .flow__item .round__item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .flow__item .round__item svg {
    background-color: #FFFFFF;
  }
  .flow__item__title {
    margin-top: 5px;
    color: #312a26;
    font-size: 25px;
    margin-bottom: 5px;
  }
  .flow__item__p {
    color: #312a26;
    font-size: 15px;
    width: 80%;
  }
  .flow__arrow {
    display: none;
  }
  .mobile-arrow {
    display: inline-block;
    text-align: center;
  }
  .btn {
    margin: 20px 0;
  }
  .btn button {
    height: 70px;
    width: 200px;
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */